body {
    font-family: Arial, sans-serif;
    margin: 16px;
}

h3 {
    color: #333;
}

h6 {
    color: #333;
    align-content: center;
}

form {
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow-x: auto; /* Горизонтальный скроллбар появится при необходимости */
    overflow-y: hidden; /* Вертикальное содержимое будет обрезано и не будет прокручиваться */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.slider-container .slider {
    width: 45%; /* Установите ширину каждого слайдера */
    margin: 10px;
}

.slider-container label, .slider-container .label-container span {
    display: block;
    text-align: center;
}

.col-3, .col-6 {
    border: 1px solid black; /* Граница квадрата */
    margin: 5px; /* Отступ между квадратами */
    box-sizing: border-box;
}

#dataDisplay {
    max-height: 450px; /* Максимальная высота элемента */
    overflow-y: auto; /* Добавляет вертикальный скроллбар, если содержимое превышает максимальную высоту */
}

#capturedImage, #thresholdImage {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Автоматически подстраиваем высоту */
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px; /* Ширина квадрата */
    height: 200px; /* Высота квадрата */
    border: 1px solid black; /* Граница квадрата */
    margin: 5px; /* Отступ между квадратами */
    box-sizing: border-box;
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы квадрата */
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.video-frame {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    overflow: hidden;
}

.video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}