<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        img {
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('video_feed') }}" alt="Video Stream">
</body>
</html>